.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: lighter;
  font-size: 13px;
}

.form-left,
.colum-text {
  width: calc(50% - 10px);
}

.form-left > div,
.form-left input {
  width: 100%;
}
