@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

input[type="text"] {
  height: 50px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 0 10px;
}

.root {
  width: 100%;
  min-height: 100vh;
}
